@charset "UTF-8";
@import url(reset.css);
@import url(guideline.css);

/* header 영역 ----------------------------------------------------------- */
div#headerFrame {
  width: 100%;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
}

#headerFrame header#header {
  width: 1240px;
  height: 70px;
  margin: 0 auto;
  justify-content: space-between;
}

/* gnb메뉴 ---------------------------------------------------------------- */
#header nav#headerGnb ul#mainMenu li.mainLi > a {
  display: inline-block;
  height: 70px;
  padding: 28px 15px;
  font-size: 14px;
  font-weight: bold;
}

li.package_class > a {
  width: 130px;
} /* hover 기능 할 때, 아래 화살표 이미지 크기 변화때문에 gnb 울렁거림
    --> 그래서 패키지 수강 가로폭만 고정 시켜놓음
*/

li.logo img {
  display: inline-block;
  margin-top: -3px;
}

li.logo img:first-child {
  height: 20px;
  margin-top: -5px;
}

li.logo img:last-child {
  padding-left: 8px;
  height: 17px;
}

/* gnb 2차원 영역 정리 ------------ */
/* gnb 배경 -------------------- */
div#gnbBG {
  width: 100%;
  height: 335px;
  border-bottom: 1px solid #eee;
  display: none;
  position: absolute;
  top: 71px;
  background-color: #fff;
}

nav#headerGnb ul#mainMenu {
  position: relative;
}

nav#headerGnb div.subMenu {
  width: 870px;
  display: none;
  position: absolute;
  z-index: 9;
}

div.subMenu div#ulArea {
  width: 640px;
}

#ulArea ul a {
  display: block;
}

/* gnb 패키지 수강 서브메뉴 ------------- */
li.package_class div.subMenu div#ulArea ul > a {
  font-weight: bold;
  font-size: 13px;
}

li.package_class div.subMenu {
  padding-top: 30px;
}

li.package_class div.subMenu li.subLi a {
  display: inline-block;
  padding-top: 12px;
  font-size: 11px;
}

div.subMenu div#ulArea ul:last-child {
  position: relative;
  right: -50px;
}

/* MARK */

li.package_class img#arrowMark {
  height: 11px;
  position: relative;
  top: -1px;
}

li.package_class div.bestMark {
  color: #fff;
  width: 30px;
  background-color: #08d698;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 71px;
  left: 72px;
}

li.package_class div.saleMark {
  color: #fff;
  width: 30px;
  background-color: #ff453a;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 99px;
  left: 62px;
}

div#eventArea div.discountMark {
  color: #fff;
  width: 40px;
  background-color: #ff453a;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 30px;
  right: 0px;
  font-size: 14px;
}

/* gnb 하이라이트 기능 ------------- */
li.mainLi:hover > a {
  color: #08d698;
}

li.package_class div.subMenu li.subLi a:hover {
  color: #08d698;
}

/* gnb 이벤트 페이지 이동 -------------- */
#header div#eventArea {
  width: 230px;
}

#eventArea img {
  width: 230px;
}

#eventArea p {
  padding: 20px 0;
  font-size: 14px;
  font-weight: bold;
}

#eventArea div#moreInfo {
  width: 100%;
  height: 40px;
  padding: 0 8px;
  border: 1px solid #aaa;
  line-height: 40px;
  font-size: 11px;
}

#moreInfo a {
  color: #aaa;
}

/* lnb menu -------------------------------------------------------------- */
#header nav#headerLnb button:not(:last-child) {
  border: none;
  height: 30px;
  padding: 0 20px;
  margin-top: 22px;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

#header nav#headerLnb button img {
  width: 25px;
  margin: 0 3px;
  position: absolute;
  top: 1px;
  left: -11px;
}

#header nav#headerLnb button:last-child {
  color: #fff;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-color: #000;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

/* ----------------------------------------------------------------------- */
/* main 영역 ------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */

main#main {
  width: 1300px;
  padding-top: 60px;
  margin: 0 auto;
  margin-top: 80px;
  justify-content: space-around;
}

#main div#signUpArea {
  width: 400px;
}

#main div#mainImgArea {
  width: 400px;
}

div#signUpArea .title {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

#signUpArea .subtitle {
  color: #888;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

div#snsLink {
  padding: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

#snsLink img {
  width: 60px;
  margin: 0 8px;
}

div.inputArea {
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
  position: relative;
}

div.inputArea input {
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
}

div.inputArea input::placeholder {
  color: #ccc;
}

div.pass {
  background-image: url(../images/hidden-Eye.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 1.5em;
}

div.certi {
  width: 310px;
  position: relative;
}

div.certi button {
  height: 40px;
  padding: 0 10px;
  border: 1px solid #000;
  border-radius: 40px;
  background-color: transparent;
  font-size: 11px;
  position: absolute;
  right: -92px;
  cursor: pointer;
}

div.certi_num {
  background-color: rgb(245, 244, 244);
}

div.check_list {
  padding: 5px 0;
}

div.check_list label {
  color: #888;
  padding-left: 5px;
  margin: 5px 0;
  font-size: 11px;
  position: relative;
  top: -2px;
}

div.check_list .licenseMark {
  width: 15px;
  position: relative;
  top: -2px;
  left: 5px;
}

div.marketing {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
}

.marketing p {
  color: #aaa;
  font-size: 8px;
  padding-left: 17px;
  padding-top: 5px;
}

.marketing p span {
  color: #2ec799d3;
}

div.all_check {
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

div.all_check label {
  color: #666;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: -1px;
}

div#signUpArea p.isMmeber {
  color: #555;
  font-size: 11px;
  padding: 22px 0;
  text-align: right;
}

div#signUpArea p.isMmeber span a {
  color: #2bde73;
  padding-right: 5px;
  text-decoration: underline;
}

/* 회원가입 버튼 -------------------- */

#main button#signUpBtn {
  color: #fff;
  width: 100%;
  height: 50px;
  border: none;
  background-color: #13141a;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

/* 홍보사진 영역 ------------------- */

#mainImgArea img {
  width: 450px;
  position: relative;
  left: -80px;
  top: 70px;
}

/* input foucs 시 placeholder 기능 animation 작업용 css */
div.inputArea .placeholderText {
  color: #ddd;
  position: absolute;
  top: 10px;
  font-size: 13px;
  z-index: -1;
}

/* 시작할때 autofocus된 이메일 영역만 css 별로도 지정해 둠 */
div.mail {
  border-bottom: 1px solid #08d698;
}
div.mail div.placeholderText {
  color: #08d698;
  top: -10px;
  font-size: 11px;
}
